[Unit]
Description=GPIO Shutdown Button Monitor
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/shutdown_button.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target